<html>
    <head>
        <title>registro html</title>

    </head>
    <body>
        <h1>Registro</h1>
        <h2>Inserisci i tuoi dati</h2>
        
        <font>
        Ciao! Compila questo form per essere registrato.<br>
        </font>

        <form method="POST" action='/add_registro'>
            User: <input type="text" name="user" value="" /><br/>
            <br/>
            Password: <input type="password" name="password" value="" /><br/>
            
            <button type="submit">Salva</button>
        </form>
    </body>
</html>
